.copyright__confidentiality-text {
  text-align: center;
  text-decoration-line: underline;
  color: $basic-black;
}

.copyright__content {
  text-align: center;
  font-family: $font;
  font-size: 14px;
  line-height: 13px;
}
