.socials__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 39px;
}

.socials__text {
  margin: 0;
  margin-right: 10px;
  font-size: 26px;
  line-height: 35px;
}
