@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("Playfair Display"), url("../fonts/playfair-display.woff2"),
    url("../fonts/playfair-display.woff");
}

@font-face {
  font-family: "Playfair Display Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;

  src: local("Playfair Display Bold"),
    url("../fonts/PlayfairDisplay-Bold.woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff");
}

@font-face {
  font-family: "Playfair Display Italic";
  font-style: bold;
  font-weight: 700;
  font-display: swap;

  src: local("Playfair Display Italic"),
    url("../fonts/PlayfairDisplay-Italic.woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("Gotham Pro"), url("../fonts/GothamPro-Light.woff2"),
    url("../fonts/GothamPro-Light.woff");
}

@font-face {
  font-family: "Gotham Pro Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: local("Gotham Pro Light"), url("../fonts/GothamPro-Light.woff2"),
    url("../fonts/GothamPro-Light.woff");
}

@font-face {
  font-family: "Gotham Pro Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  src: local("Gotham Pro Medium"), url("../fonts/GothamPro-Medium.woff2"),
    url("../fonts/GothamPro-Medium.woff");
}

@font-face {
  font-family: "Gotham Pro Light Italic";
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: local("Gotham Pro Light Italic"),
    url("../fonts/GothamPro-LightItalic.woff2"),
    url("../fonts/GothamPro-LightItalic.woff");
}

@font-face {
  font-family: "Gotham Pro Medium Italic";
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  src: local("Gotham Pro Medium Italic"),
    url("../fonts/GothamPro-MediumItalic.woff2"),
    url("../fonts/GothamPro-MediumItalic.woff");
}

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: local("Roboto Light"), url("../fonts/roboto-light.woff2"),
    url("../fonts/roboto-light.woff");
}

$main-font: "Playfair Display";
$main-font-bold: "Playfair Display Bold";
$main-font-italic: "Playfair Display Italic";
$font: "Gotham Pro";
$font-light: "Gotham Pro Light";
$font-medium: "Gotham Pro Medium";
$font-light-italic: "Gotham Pro Light Italic";
$font-medium-italic: "Gotham Pro Medium Italic";
$font-roboto-light: "Roboto Light";
